.completed {
    background: lightgray;
    opacity: 0.45;
}
.task {
    width: 800px;
}
.panel-status {
    width: 24px;
    float: right;
}
.mat-expansion-panel-header-title {
    width: 90%;
}
.shrunk .mat-expansion-panel {
    width: 750px;
}