.main-screen {
    height: 800px;
    width: 100%;    
}
.sidenav-container {
    position: absolute;
    height: 800px;
}
.sidenav {
    width: 300px;
    height: 100%;
    display: flex;
    border: 1px solid black;
    overflow: hidden;
}
.main-content {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 1600px;
}
.group-container {
    display: flex;
    flex-direction: row;
    width: 20%;
    padding: 8px;
}
div.mat-expansion-panel-content:not(.mat-expanded) {
    height: 0px !important;
    visibility: hidden !important;
}
.menu-button {
    height: 36px;
}
.mat-button-toggle-group {
    height: 36px;
}